{% form 'localization', id: "localization_form_tag", class: "dropup" %}
<button class="localBtn" disabled>Localization</button>
<div class="dropup-content">

    <select>
        

      </select>
    <option value=""></option>
    {% for locale in shop.published_locales %}
    <a href="#">{{ locale.endonym_name }}</a>
    {% endfor %}
</div>
{% endform %}