{% form 'localization', id: "localization_form_tag", class: "dropup" %}
<button class="localBtn" disabled>Localization</button>
<div class="dropup-content">

    

    {% for locale in shop.published_locales %}
    {{ locale.name }} ({{ locale.iso_code }})
    {% endfor %}
</div>
{% endform %}