{% form 'localization', id: "localization_form_tag", class: "dropup" %}
<button class="localBtn" disabled>Localization</button>
<div class="dropup-content">

    <select>
        {% for locale in shop.published_locales %}
        <option>
            <a href="#">{{ locale.endonym_name }}</a>
        </option>
        {% endfor %}
    </select>
</div>
{% endform %}