.dropup{
    position: relative;
    display: inline-block;
}

.localBtn{
    background-color: #3298DB;
    color: white;
    padding: 15px;
    font-size: 20px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.dropup-content{
    display: none;

}

.localBtn:hover .dropup-content{
     
}