.dropup{
    position: relative;
    display: inline-block;
}

.localeBtn{
    background-color: #3298DB;
    color: white;
    padding: 15px;
    font-size: 20px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.dropup-content{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 25px;
    min-height: 110px;
    z-index: 1;
}

.dropup:hover  .dropup-content{
    display: block;
}